@model NetFlix.CORE.ViewModels.DashboardVm

@{
    ViewData["Title"] = "Dashboard";
}


<main class="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="main__title">
                    <h2>Dashboard</h2>
                    <a asp-action="Create" asp-controller="Movie" class="main__title-link">Add Movie</a>
                </div>
            </div>
        </div>

        <!-- ================== Filmlər Bölməsi ================== -->
        <div class="row">
            <div class="col-12">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3><i class="ti ti-movie"></i> Movies</h3>
                        <div class="dashbox__wrap">
                            <a class="dashbox__refresh" href="#"><i class="ti ti-refresh"></i></a>
                            <a class="dashbox__more" asp-controller="Movie" asp-action="Index">View All</a>
                        </div>
                    </div>

                    <div class="dashbox__table-wrap">
                        <table class="dashbox__table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th>IMDb Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var movie in Model.Movies)
                                {
                                    <tr>
                                        <td><div class="dashbox__table-text dashbox__table-text--grey">@movie.Id</div></td>
                                        <td><div class="dashbox__table-text"><a asp-action="Detail" asp-controller="Movie" asp-route-id="@movie.Id">@movie.Title</a></div></td>
                                        <td><div class="dashbox__table-text">@movie.Category</div></td>
                                        <td><div class="dashbox__table-text dashbox__table-text--rate"><i class="ti ti-star"></i> @movie.ImdbRating</div></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- ================== Aktyorlar Bölməsi ================== -->
        <div class="row">
            <div class="col-12">
                <div class="dashbox">
                    <div class="dashbox__title">
                        <h3><i class="ti ti-users"></i> Actors</h3>
                        <div class="dashbox__wrap">
                            <a class="dashbox__refresh" href="#"><i class="ti ti-refresh"></i></a>
                            <a class="dashbox__more" asp-controller="Actors" asp-action="Index">View All</a>
                        </div>
                    </div>

                    <div class="dashbox__table-wrap">
                        <table class="dashbox__table">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full Name</th>
                                    <th>Birth Place</th>
                                    <th>Age</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var actor in Model.Actors)
                                {
                                    <tr>
                                        <td><div class="dashbox__table-text">@actor.Id</div></td>
                                        <td><div class="dashbox__table-text"><a asp-action="Detail" asp-controller="Actor" asp-route-id="@actor.Id">@actor.FullName</a></div></td>
                                        <td><div class="dashbox__table-text">@actor.BirthPlace</div></td>
                                        <td><div class="dashbox__table-text">@actor.Age</div></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
