@using NetFlix.CORE.ViewModels
@model List<NetFlix.CORE.ViewModels.GetMovieVm>


<!-- home -->
<section class="home">
	<div class="container">
		<div class="row">
			<!-- home title -->
			

			<div class="col-12">
				
				<h1 class="home__title"><b>NEW ITEMS</b> OF THIS SEASON</h1>
			</div>
			<!-- end home title -->
			<!-- home carousel -->
			<div class="col-12">
				<div class="home__carousel splide splide--home">
					<div class="splide__arrows">
						<button class="splide__arrow splide__arrow--prev" type="button">
							<i class="ti ti-chevron-left"></i>
						</button>
						<button class="splide__arrow splide__arrow--next" type="button">
							<i class="ti ti-chevron-right"></i>
						</button>
					</div>

					<div class="splide__track">
						<ul class="splide__list">
							@foreach (var item in Model)
							{
								<li class="splide__slide">
									<div class="item item--hero">
										<div class="item__cover">
											<img style="height:45vh;" src="@item.PosterFileName" alt="random">
											<a href="details.html" class="item__play">
												<i class="ti ti-player-play-filled"></i>
											</a>
											<span class="item__rate item__rate--green">@item.ImdbRating</span>
											<form asp-controller="Account" asp-action="ToggleFavorite" method="post" style="display:inline;">
												<input type="hidden" name="movieId" value="@item.Id" />
												<button class="item__favorite" type="submit" title="Favorit əlavə/silmə">
													<i class="ti ti-bookmark"></i>
												</button>
											</form>
										</div>
										<div class="item__content">
											<h3 class="item__title">
												<a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id" style="color:white;">
													@item.Title
												</a>
											</h3>
											<span class="item__category">
												<a href="index.html#">@item.Category</a>

											</span>
										</div>
									</div>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>
			<!-- end home carousel -->
		</div>
	</div>
</section>
<!-- end home -->
<!-- content -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">Recently updated</h2>
					<!-- end content title -->
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="container" style=" display: flex; flex-wrap: wrap; gap: 25px; justify-content: flex-start; color: white;">
			@foreach (var item in ViewBag.InOrder as List<GetMovieVm>)
				{
					<div style="width: 220px; border-radius: 8px; overflow: hidden; display: flex; flex-direction: column;">
					<div class="item item--hero">
						<div class="item__cover">
							<img style="height:45vh;" src="@item.PosterFileName" alt="random">
							<a href="details.html" class="item__play">
								<i class="ti ti-player-play-filled"></i>
							</a>
							<span class="item__rate item__rate--green">@item.ImdbRating</span>
							<form asp-controller="Account" asp-action="ToggleFavorite" method="post" style="display:inline;">
								<input type="hidden" name="movieId" value="@item.Id" />
								<button class="item__favorite" type="submit" title="Favorit əlavə/silmə">
									<i class="ti ti-bookmark"></i>
								</button>
							</form>
						</div>
						<div class="item__content">
							<h3 class="item__title">
								<a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id" style="color:white;">
									@item.Title
								</a>
							</h3>
							<span class="item__category">
								<a href="index.html#">@item.Category</a>

							</span>
						</div>
					</div>
					</div>
				}
			
			
		</div>
	</div>	
</section>
<!-- end content -->
<!-- section -->
<section class="section section--border">
	<div class="container">
		<div class="row">
			<!-- section title -->
			<div class="col-12">
				<div class="section__title-wrap">
					<h2 class="section__title">Action Movies</h2>
					
				</div>
			</div>
			<!-- end section title -->
			<!-- carousel -->

			<div class="col-12">
			<div class="splide__track">
				<ul class="splide__list">
					@foreach (var item in Model.Where(m => !string.IsNullOrEmpty(m.Category) && m.Category.Contains("Action")))
					{
							<li class="splide__slide">
								<div class="item item--hero">
									<div class="item__cover">
										<img style="height:45vh;" src="@item.PosterFileName" alt="random">
										<a href="details.html" class="item__play">
											<i class="ti ti-player-play-filled"></i>
										</a>
										<span class="item__rate item__rate--green">@item.ImdbRating</span>
										<form asp-controller="Account" asp-action="ToggleFavorite" method="post" style="display:inline;">
											<input type="hidden" name="movieId" value="@item.Id" />
											<button class="item__favorite" type="submit" title="Favorit əlavə/silmə">
												<i class="ti ti-bookmark"></i>
											</button>
										</form>
									</div>
									<div class="item__content">
										<h3 class="item__title">
											<a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.Id" style="color:white;">
												@item.Title
											</a>
										</h3>
										<span class="item__category">
											<a href="index.html#">@item.Category</a>

										</span>
									</div>
								</div>
							</li>
					}
				</ul>
			</div>
			<!-- end carousel -->
		</div>
	</div>
	</div>
</section>
<!-- end section -->
<script>
	document.addEventListener('DOMContentLoaded', function () {
		new Splide('.splide', {
			type: 'loop',
			perPage: 5,
			focus: 'center',
	pagination: false,
		}).mount();
	});
</script>