@model IEnumerable<NetFlix.CORE.ViewModels.GetActorVm>

@{
    ViewData["Title"] = "Actors - HotFlix";
}
<div class="container">

    <!-- header -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header__content d-flex">
                        <a href="/" class="header__logo">
                            <img src="/img/logo.svg" alt="HotFlix Logo">
                        </a>
                        <nav class="header__nav">
                            <a href="/Movies">Movies</a>
                            <a href="/Actors">Actors</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- section -->
    <section class="section section--bg" data-bg="/img/bg/section__bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="section__title">Actors</h1>
                    <a asp-action="Create" class="btn btn-primary">Add New Actor</a>
                </div>
            </div>
            <div class="row">
                @foreach (var actor in Model)
                {
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <div class="card card--actor">
                            @if (!string.IsNullOrEmpty(actor.PhotoFileName))
                            {
                                <img style="width:190px; height:190px;" src="@actor.PhotoFileName" alt="@actor.FullName" class="card__img" />
                            }
                            else
                            {
                                <img src="/img/default-actor.jpg" alt="No Photo" class="card__img" />
                            }
                            <div class="card__content">
                                <h5 class="card__title">@actor.FullName</h5>
                                <p class="card__info">Age: @actor.Age</p>
                                <p class="card__info">Birth Place: @actor.BirthPlace</p>
                                <p class="card__info">Movies: @string.Join(", ", actor.Movies.Select(m => m.Title))</p>
                                <div class="card__actions">
                                    <a href="@Url.Action("Details", new { id = actor.Id })" class="btn btn--sm btn--info">Details</a>
                                    <a asp-route-id="@actor.Id" asp-controller="Actors" asp-action="Edit"  class="btn btn--sm btn--warning">Edit</a>
                                    <a href="@Url.Action("Delete", new { id = actor.Id })" class="btn btn--sm btn--danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>



</div>
